.details{
    padding: 2% 5%;
}
#detailsTitle{
    color: #009587;
    font-size: 32px;
    font-family: poppins;
    font-weight: 600;
}
.details label{
    color: #464646;
    font-size: 16px;
    font-family: poppins;
    font-weight: 600;
}
.details select{
    width: 100%;
    height: 40px;
    margin: 1% 0 0 0;
    padding:1% 3%;
}
.details input{
    width: 100%;
    height: 40px;
}
.apartment{
    display: block;
}
.area{
    margin: 1% 0 0 0;
    grid-row-gap: 11%;
    grid-column-gap: 3%;
    display: grid;
    grid-template-columns: repeat(4,1fr);  
}
#area{
    padding:1% 3%;
}
#rent{
    padding:1% 3%;
}
#deposit{
    padding:1% 3%;
}
.floor{
    grid-row-gap: 11%;
    grid-column-gap: 3%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.age{
    grid-row-gap: 11%;
    grid-column-gap: 3%;
    display: grid;
    grid-template-columns: repeat(2,1fr);  
}
.parking{
    grid-row-gap: 5%;
    grid-column-gap: 3%;
    display: grid;
    grid-template-columns: repeat(3,1fr);  
}
.updateBtn{
    background-color: #fd3752;
    width: 275px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-family: poppins;
    font-weight: 600;
    border: none;
    outline:none;
    border-style: none;
    margin: 0% 0 0 5%;
}
.uploadProperty input{
    width: 15%;
}
.uploadProperty{
    padding: 3% 0%;
}
.uploadHere{
    margin: 1% 0 0 0;
}
#property{
    font-family: poppins;
    font-weight: 600;
    font-size: 35px;
    margin: 0% 0 0 0;
    color: grey;
    text-align: center;
}
.uploadBtn{
    background-color: #fd3752;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-family: poppins;
    font-weight: 600;
    border: none;
    outline:none;
    border-style: none;
}
.displayImages{
    margin: 5% 0 0 0;
    overflow-y: scroll;
    border:2px solid black;
    padding: 2% 2%;
}
.uploadedImages{
    height: 300px;
    width: 300px;
    margin:0 35px 10% 5%;
    position: relative;
}
.view{
    position: relative;
    display: inline-flex;
}
.view:hover{
    opacity: .6;
}
.view:hover .deleteIcon {
    position: absolute;
    left: 260px;
    top: 25px;
    display: block;
}
.addBtn{
    background-color: #fd3752;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-family: poppins;
    font-weight: 600;
    border: none;
    outline:none;
    border-style: none;
    margin: 0 0 0 3%;
}
.imageList{
    display: inline-flex;
    position: relative;
    margin: 0 0 0 2%;
}
.imageList .deleteIcon{
    display: none;
}
.imageList:hover .deleteIcon{
    display: block;
    top: 10px;
    left: 260px;
    position: absolute;
}
.belowImages{
    width: 300px;
    height: 300px;
}
