* {
    margin: 0;
    padding: 0;
}


.location{
    padding: 5% 3%;
}
#locationText{
    font-family: poppins;
    font-weight: 600;
    font-size: 45px;
    margin: 0% 0 0 0;
    color: grey;
    text-align: center;
}
.uploadProperty{
    padding: 1% 5%;
    text-align: center;
}
.uploadHere{
    margin: 1% 0 0 0;
}
#property{
    font-family: poppins;
    font-weight: 600;
    font-size: 35px;
    margin: 0% 0 0 0;
    color: grey;
    text-align: center;
}
.uploadBtn{
    background-color: #fd3752;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-family: poppins;
    font-weight: 600;
    border: none;
    outline:none;
    border-style: none;
}
.displayImages{
    margin: 5% 0 0 0;
    overflow-y: scroll;
    border:2px solid black;
    padding: 2% 2%;
}
.uploadedImages{
    height: 300px;
    width: 300px;
    margin:0 0 5% 2%;
}
.addBtn{
    background-color: #fd3752;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-family: poppins;
    font-weight: 600;
    border: none;
    outline:none;
    border-style: none;
    margin: 0 0 0 3%;
}
.uploadedImages:hover{
    background-image: url('../../images/owner/close.svg');
    opacity: 0.5;
}