.property{
    padding: 3% 5%;
    text-align: center;
}
#city{
    width: 50%;
    height: 50px;
    border: 1px solid grey;
    outline: none;
    background-color: white;
    padding: 0% 1%;
    margin: 2% 0 0 0;
}
#choose{
    font-family: poppins;
    font-weight: 600;
    font-size: 32px;
    margin: 0% 0 0 0;
    color: #009587;
}
.postBtn{
    background-color: #fd3752;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-family: poppins;
    font-weight: 600;
    border: none;
    outline:none;
    border-style: none;
    margin: 2% 0 0 0;
}