
.wholeImages{
    padding: 0 5%;
    display: inline-flex;
}

.tenantImages{
    width: 300px;
    height: 300px;
    margin: 3% 0 2% 5%;
}
.specificDetails{
    padding: 3% 5%;
    display: inline-flex;
    width: 100%;
    grid-row-gap: 11%;
    grid-column-gap: 3%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 5% 3%;
}
#propText{
    font-family: poppins;
    font-weight: 600;
    font-size: 30px;
    margin: 0 0 3% 4%;
    color: #009587;
}
#bookText{
    font-family: poppins;
    font-weight: 600;
    font-size: 16px;
    color: #009587;
}
.ownerBtn{
    background-color: #fd3752;
    width: 180px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-family: poppins;
    font-weight: 600;
    border: none;
    border-style: none;
    margin: 0% 0 2% 2%;
}

.wholeDetails{
    height: 345px;
    padding: 1% 2%;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    background-color: #fd3752;
    display: flex;
    margin: 0 0 0 2%;
}
.detailiedProps{
    display: block;
    padding: 5% 5%;
    column-gap: 2%;
    text-align: left;
    color: white;
    font-family: poppins;
    font-weight: 500;
    width: 100%;
}
.rentButton{
    background-color: #fd3752;
    width: 180px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-family: poppins;
    font-weight: 600;
    border: none;
    outline: none;
    border-style: none;
    margin: 0% 0 0 2%;
}
.ant-btn-primary {
    color: #fff;
    background-color: #fd3752;
}
.ant-btn-primary:not(:disabled):hover {
    background-color: #fd3752;
}
.ant-btn-default:not(:disabled):hover {
    color: black;
    border-color: black;
}
.gridItems{
    display: grid;
    grid-row-gap: 11%;
    grid-column-gap: 3%;
    grid-template-columns: repeat(4,1fr);  
}
.gridItems1{
    display: grid;
    grid-row-gap: 11%;
    grid-column-gap: 3%;
    grid-template-columns: repeat(2,1fr);  
    width: 50%;
    margin: 1% 0 0 10%;
    border: 1px solid rgba(0,0,0,.1);
    padding: 3% 2%;
    height: 225px;
    width: 50%;
}
.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}
 .ant-btn-default{
    display: none;
 }