.tenantdetails{
    text-align: center;
}

.detailiedProps{
    display: block;
    padding: 1% 5%;
    column-gap: 2%;
    text-align: left;
}
.tenantImages{
    width: 300px;
    height: 300px;
    margin: 0 0 0 3%;
}
